header {
    width: 100%;
    height: 60px;
    background-color: #d06027;
    font-size: 1.3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-right: 40px;
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    color: white;
    text-decoration: none;
}

.title {
    margin-left: 80px;
}